@import 'variables'

@media only screen and (max-width: 1200px)
  h1
    font-size: 34px
    line-height: 45px
  h2
    font-size: 22px
    line-height: 45px
  .text
    font-size: 16px
    line-height: 30px
  .button
    padding: 11px 24px 10px 22px
    font-size: 16px
    line-height: 22px
  .wrapper
    padding-left: 20px
    padding-right: 20px
  .macbook
    height: 448px
    position: absolute
    right: 0
    z-index: 5
    &-bg
      position: absolute
      right: 0
      top: 110px
      width: 345px
      height: 432px
      z-index: 0
  .iphone
    position: absolute
    right: 406px
    top: 160px
    z-index: 10
    width: 174px
    height: 349px
    &-bg
      position: absolute
      right: 522px
      top: 104px
      width: 82px
      height: 94px
      z-index: 0
  .main
    &-description
      flex-basis: 37%
      min-width: 400px
    &-devices
      flex-basis: 40%
    &__button
      margin-top: 35px
      margin-bottom: 90px
    &__wrapper
      padding-top: 32px
      padding-bottom: 60px
    .header
      &__nav
        &-link
          line-height: 20px
          font-size: 14px
      &__logo
        &-img
          width: 80px
          height: 25px
  .deals
    &-list
      &__item
        margin-left: auto
        margin-right: auto
      &__slogan
        font-size: 14px
        line-height: 20px
  .feedbacks
    &__title
      margin-bottom: 25px
    &__slogan
      font-size: 28px
      line-height: 35px
      margin-bottom: 65px

    &-item
      margin: auto
      padding: 25px 5px 18px 5px
      width: 100%
      max-width: 555px
      min-height: 354px
      &__wrapper

        margin-right: 0px
        margin-bottom: 10px
    &__wrapper
      align-items: center
      padding-top: 5px
      padding-left: 10px
      padding-right: 10px
    &__button
      &_next
        right: 50%
        top: 87%
        transform: translateX(50%)

    &__author
      flex-direction: column
      justify-content: flex-start
      align-items: center
      width: 100%
    &__name

      font-size: 20px
      line-height: 32px
      margin-bottom: 15px
    &__who
      align-items: center
      text-align: center
      margin-bottom: 15px
    &__position
      font-size: 11px
      line-height: 11px
      text-align: center
    &__text
      text-align: center
      line-height: 22px
  .social
    &__slogan
      font-size: 28px
      line-height: 35px
    &-list
      flex-wrap: wrap
      &__title
        font-size: 20px
        line-height: 24px
        letter-spacing: 0.2px
      &__text
        font-size: 16px
        line-height: 24px
        margin-bottom: 20px
      &__subscribe
        font-size: 18px
        line-height: 25px
      &__item
        flex-basis: 48%
        margin-bottom: 32px
  .footer

    &__wrapper
      padding-top: 128px
      padding-bottom: 82px
      display: grid
      grid-template: 1fr 1fr / 25% 14% 14% 19% 16.5%
      grid-template-areas: "about product services company more" "copyright copyright copyright copyright copyright"
      column-gap: 0.65%
      row-gap: 12px
      font-family: 'Open Sans', sans-serif
@media only screen and (max-width: 992px)
  h1
    font-size: 32px
    line-height: 40px
  h2
    font-size: 20px
    line-height: 40px
  .text
    font-size: 16px
    line-height: 28px
  .button
    padding: 11px 24px 10px 22px
    font-size: 14px
    line-height: 22px
  .wrapper
    padding-left: 20px
    padding-right: 20px
  .macbook
    height: 358px
    position: absolute
    right: 0
    z-index: 5
    &-bg
      position: absolute
      right: 0
      top: 130px
      width: 276px
      height: 345px
      z-index: 0
  .iphone
    position: absolute
    right: 325px
    top: 160px
    z-index: 10
    width: 139px
    height: 279px
    &-bg
      position: absolute
      right: 418px
      top: 104px
      width: 66px
      height: 75px
      z-index: 0
  .header
    &__nav
      &-link
        line-height: 18px
        font-size: 12px
    &__logo
      &-img
        width: 70px
        height: 20px
  .main
    &-description
      flex-basis: 37%
      min-width: 400px
    &-devices
      flex-basis: 40%
    &__button
      margin-top: 25px
      margin-bottom: 80px
    &__wrapper
      padding-top: 32px
      padding-bottom: 60px
  .deals
    &-list
      &__item
        margin-left: auto
        margin-right: auto
      &__slogan
        font-size: 14px
        line-height: 20px
  .footer
    &__wrapper
      padding-top: 50px
      padding-bottom: 0px

      grid-template: 1fr 0.9fr 1fr/ 50% 50%
      grid-template-areas: "product services" "company more" "about about"
      column-gap: 0.7%
      row-gap: 20px
    &-about
      align-items: center
    &__slogan
      text-align: center
      max-width: 100%
      margin-bottom: 25px
    &__img
      width: 77px
      height: 24px
    &__link
      margin-bottom: 13px
    &-copywright
      display: none
    &-menu
      padding-left: 5px
      height: fit-content
      &__title
        font-size: 16px
        line-height: 22px
        margin-bottom: 20px

      &__item
        margin-bottom: 15px
      &__link
        font-size: 14px
        line-height: 20px

@media only screen and (max-width: 870px)
  h1
    font-size: 30px
    line-height: 36px
  h2
    font-size: 30px
    line-height: 36px
  .nav
    &-item
      &_expanded
        flex-direction: column
  .header
    &__nav
      display: none
      &_visible
        z-index: 99
        display: flex
        flex-direction: column
        position: fixed
        justify-content: flex-start
        top: 75px
        left: 0
        right: 0
        bottom: 0
        background-color: $bg_main
        padding-top: 20px
        overflow-y: auto
        scroll-behavior: smooth
        margin-left: auto
        margin-right: auto
        max-width: 100%
        width: 100%
        min-width: auto
        border-radius: 8px
        border: 1px solid $bg_dark

      &-item
        &_visible
          display: flex

      &-link
        line-height: 50px
        font-size: 24px
    &__subnav
      position: relative
      top: 0
      left: 0
      z-index: 25
      opacity: 0
      display: none
      transform: scaleY(0)
      transform-origin: 0 0
      transition: .5s ease-in-out
      width: fit-content
    &__menu
      display: flex
    &__logo
      &-img
        width: 90px
        height: 28px
    &__button
      display: none
      &_visible
        display: flex
        margin-top: 20px
        margin-bottom: 20px
    &__wrapper
      padding-top: 20px
      padding-bottom: 26px
  .main
    &__container
      min-height: 775px
    &__wrapper
      flex-direction: column
      justify-content: flex-start
      align-items: center
      text-align: center
      padding-top: 36px
      padding-bottom: 133px
    &-description
      align-items: center
      max-width: 370px
      padding-bottom: 48px
    &__next
      left: 50%
      bottom: -310px
      z-index: 99
      transform: translateX(-50%)

      width: 48px
      height: 48px
    &-devices
      min-width: 240px
    &__header
      text-align: center
    &__text
      margin-top: 8px
    &__button
      margin-top: 15px
      margin-bottom: 10px
      font-size: 16px
      line-height: 22px
      padding: 13px 36px 13px 37px

  .macbook
    height: 235px
    top: 370px
    width: 350px
    right: 0
    &-bg
      right: 0
      top: 390px
      width: 158px
      height: 302px

  .iphone
    right: 250px
    top: 420px
    width: 92px
    height: 184px
    &-bg
      right: 240px
      top: 430px
      width: 66px
      height: 75px
  .partners
    &__wrapper
      margin-top: 0px
      align-items: center
      padding-bottom: 30px
    &-description
      text-align: center
      flex-direction: column
      align-items: center
      padding-top: 21px
      padding-bottom: 25px
    &-list
      flex-wrap: wrap
      max-width: 100%
      padding-left: 18px
      padding-right: 20px
      &__img
        flex-basis: 50%
        max-height: 32px
        max-width: 108px
        margin-bottom: 25px
        &:nth-child(2)
          height: 26px
        &:nth-child(3)
          height: 24px
        &:nth-child(5)
          display: none
    &__slogan
      font-size: 28px
      line-height: 30px
    &__about
      font-size: 13px
      line-height: 24px
      padding-top: 15px
      padding-left: 0
    &__title
      text-align: center
      padding-left: 30px
@media only screen and (max-width: 768px)
  .deals
    padding-top: 36px
    padding-bottom: 5px
    &__wrapper
      padding-top: 0px
      padding-bottom: 10px
    &-description
      flex-direction: column
      justify-content: flex-start
      align-items: center
      width: 100%
      padding-top: 0px
      padding-bottom: 8px
    &__slogan
      width: 100%
      text-align: center
      font-size: 28px
    &-list
      &__item
        width: 280px
        min-height: 197px
        flex-direction: column
        justify-content: flex-start
        margin-left: auto
        margin-right: auto
        padding: 21px 18px 19px 24px
        margin-bottom: 7px
        &:nth-child(1)
          order: 1
        &:nth-child(2)
          order: 2
        &:nth-child(3)
          order: 5
        &:nth-child(4)
          order: 3
        &:nth-child(5)
          order: 4
        &:nth-child(6)
          order: 6
      &__slogan
        font-size: 14px
        line-height: 20px
      &__title
        font-size: 20px
        line-height: 24px
      &__img
        width: 40px
        height: 38px
        margin-bottom: 17px
        padding-top: 0px
      &__text
        padding-left: 0px
    &__about
      text-align: center
  .portfolio
    background-color: $bg_light
    &__wrapper
      padding-top: 50px
      padding-bottom: 25px
      align-items: center
    &__title
      margin-bottom: 10px
      padding-left: 10px
    &__slogan
      padding-left: 5px
      font-size: 28px
      margin-bottom: 40px
    &-swiper
      height: fit-content
      max-width: 100%
      transform: translateX(0px)
      &__wrapper
      &__slide
        width: 280px
        margin-top: 40px
        margin: auto
        &_visible
          display: none
    &__button
      display: none
    &-item
      width: 280px
      height: 404px
      margin: auto
      margin-bottom: 25px
    &__item-title
      padding-left: 0px
      margin-top: 0px
      font-size: 26px
      line-height: 28px
      text-align: center
    &__img
      height: 400px
      transform: translateY(-40px)
      &-wrapper
        height: 300px

    &__theme
      padding-left: 0px
      margin-top: 20px
      margin-bottom: 10px
      text-align: center
  .social
    &__container
    &__wrapper
      padding-top: 45px
      padding-bottom: 25px
    &__title
      margin-bottom: 25px
    &__slogan
      width: 100%
      text-align: center
      margin-bottom: 32px
    &-list
      justify-content: center
      &__item
        width: 130px
        margin-left: 0px
        margin-right: 0px
        height: 199px
        flex-basis: 50%

      &__wrapper
        width: 52px
        height: 52px
        margin-bottom: 10px
      &__img
        width: 22px
        height: 22px
      &__title
        margin-bottom: 12px
      &__text
        font-size: 13px
        line-height: 19px
        margin-bottom: auto
        max-width: 130px
        overflow-y: auto
        max-height: 80px
      &__subscribe
        font-size: 11px
        line-height: 20px
        justify-self: flex-end
  .brief
    &__mask

      background-size: 100% 100%
      background: url(../img/brief/Oval-small.svg) no-repeat 100% 100%

    &__container
    &__wrapper
      padding-top: 65px
      padding-bottom: 63px
    &__title

      font-size: 28px
      line-height: 30px
      margin-bottom: 34px
    &__slogan
      font-size: 16px
      line-height: 27px
      text-align: center
      width: 100%
      color: $font_light
      z-index: 2
      margin-bottom: 15px
    &__button
      z-index: 2
      padding-left: 23px
      padding-right: 27px
      font-size: 16px
      line-height: 22px
  .modal
    &-brief
      padding: 33px 66px
      &__button
        margin-bottom: 15px
        max-width: 100%
    &-success, &-fail
      padding: 23px 20px
@media only screen and (max-width: 480px) and (min-width: 320px)
  .main
    &-description
      min-width: 280px
      max-width: 280px
  .macbook
    height: 235px
    top: 440px
    width: 350px
    right: 0
    &-bg
      right: 0
      top: 460px
      width: 158px
      height: 302px

  .iphone
    right: 250px
    top: 490px
    width: 92px
    height: 184px
    &-bg
      right: 240px
      top: 500px
      width: 66px
      height: 75px
  .modal
    &-brief
      padding: 33px 33px
      &__form
        width: 250px
      &__button
        margin-bottom: 15px
        width: 160px
@media (hover:none)
  a
    &:hover
      text-decoration: none
  .button
    &_dark
      &:hover
        color: $font_light
        background-color: $font_header
        border: 2px solid $font_header
    &_light
      &:hover
        color: $font_dark
        background-color: $bg_light
        border: 2px solid $bg_light
    &_framed
      &:hover
        border-color: $bg_dark
        color: $bg_dark
  .portfolio
    &__button
      &:hover
        border: none
  .feedbacks
    &__button
      &:hover
        border: none
  .nav-item_expanded:hover .nav
    opacity: 1
    transform: scaleY(1)
    display: flex
    flex-direction: column
